<!doctype html>
<html lang="en">
{% load define_action %}
{% comment 'check if session is active' %}
{% endcomment %}
{% if 'logged_in' in request.session %}
  {% define True as logged_in %}
  {% define request.session.logged_in as uname %}
{% endif %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- choose one -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <title>Practica | Python</title>
  </head>
  <body onload="dm()">
    {%include './navbar.html'%}
    <div class="container">
        {% block content %}

        {% endblock %}
    {% if not logged_in %}
<!--      <p><a href="{% url 'pyapp:login' %}">Iniciar Sesión</a></p>
      <p><a href="{% url 'pyapp:new-user' %}">Registrarse</a>
-->
    {% endif %}
    </div>
    <!-- Footer -->
<footer class="fixed-bottom bg-secondary style="background-color: #e3f2fd;"">

  <!-- Copyright -->
  <div class="text-center py-3">© 2022 No Copyright:
    <a href="/pyappp"> Designed Using Bootstrap </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% include './js/drkMde.js' %}
  </body>
</html>
